@using Microsoft.AspNetCore.Identity
@using CoreWMS.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("CORE_PLANNING"))
{
    <a class="nav-link" asp-controller="@ViewBag.ControllerName" asp-action="Waves">Waves</a>
    <a class="nav-link" asp-controller="@ViewBag.ControllerName" asp-action="Picks">Picks</a>
    <a class="nav-link" asp-controller="@ViewBag.ControllerName" asp-action="Inbound">Inbound</a>
    <a class="nav-link" asp-controller="@ViewBag.ControllerName" asp-action="Outbound">Outbound</a>
}

@if (User.IsInRole("CORE_USER"))
{
    <a class="nav-link" asp-controller="@ViewBag.ControllerName" asp-action="WorkQueue">Work Queue</a>
}
